**/__pycache__/

old_files/
pretrained/
pretrained_models/
work-dir/
data/*
# Scenes for mados tiny
# Wow gitignore pattern mathcing is a mess
!data/mados
data/mados/*
!data/mados/splits
data/mados/splits/*
!data/mados/splits/tiny_X.txt

.vscode
.idea